<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nihil quam non praesentium illo cumque fugiat. Quas eveniet sit officiis nisi ipsa dignissimos voluptas deleniti hic, corporis distinctio modi. Cum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, odit. Ea tenetur soluta laudantium sint sapiente eius illo, recusandae repudiandae, exercitationem veritatis delectus suscipit? Corrupti totam quaerat animi cum a!</p>
