<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti deserunt at, tempore nobis laboriosam reprehenderit sunt quia ratione impedit omnis repellat maxime pariatur repudiandae est, doloribus, consectetur corrupti dolore? Eum.</p>
